<!DOCKTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pancake RPC :3</title>
  </head>
  <body>
    <div>
      <h1>Hi</h1>
    </div>
    <div>
      <div id="preview_header">
        <p></p>
      </div>
      <div id="large_image_preview">
        <div id="large_image_preview"></div>
        <div id="preview_text">
          <p id="name_preview"></p>
          <p id="details_preview"></p>
          <p id="state_preview"></p>
          <p id="timestamp_preview"></p>
        </div>
      </div>
      <div id="preview_buttons"></div>
    </div>
    <div>
      <form>
        <label for="details">Details</label><br />
        <input type="text" id="details" name="details" /><br />

        <label for="state">state</label><br />
        <input type="text" id="state" name="state" /><br />

        <label for="large_image_key">Large Image</label><br />
        <input type="text" id="large_image_key" name="large_image_key" /><br />

        <label for="large_image_text">Large Image Text</label><br />
        <input
          type="text"
          id="large_image_text"
          name="large_image_text"
        /><br />

        <label for="small_image_key">Small Image</label><br />
        <input type="text" id="small_image_key" name="small_image_key" /><br />

        <label for="small_image_text">Small Image Text</label><br />
        <input
          type="text"
          id="small_image_text"
          name="small_image_text"
        /><br />
      </form>
    </div>
  </body>
</html>
